# .env.example
# Format: postgresql://user:password@host:port/dbname
DATABASE_URL=

# S3 Configuration
S3_ENDPOINT=https://s3.twcstorage.ru
S3_REGION=ru-1
S3_BUCKET_NAME=brusher-s3
S3_ACCESS_KEY=
S3_SECRET_KEY=

# Authentication Mail.ru SMTP
MAIL_USER=
MAIL_PASS=
JWT_SECRET=
